@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: Kanit, arial, sans-serif;
  letter-spacing: .05rem;
}

.content-container {
  display: flex;
  height: 100vh;
  align-items: center;
  position: relative;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 95%;
  margin: 0 20px;
}

.content-container .logo {
  font-size: 56px;
}

.logo h1 {
  font-weight: 700;
  margin: 0;
  color: #229d8c;
}

.left-container a {
  font-size: 12px;
}

img {
  width: min(620px, 100%);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: #2a454e;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

.form-container h1,
.form-container p,
.form-container label {
  color: #fff;
}

span {
  color: #A72536;
}

input + span {
  display: none;
}

button,
input {
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: .05rem;
}

input {
  padding: 16px 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-top: 4px;
}

*:focus {
  outline: 2px solid #808080;
}

/* while input is not empty and not in focus, validate and display appropriate styling */
/* https://css-tricks.com/snippets/css/form-validation-styling-on-input-focus/ */

input:invalid:not(:placeholder-shown):not(:focus) {
  border: 2px solid #A72536;
  padding: 14px 8px;
}

input:valid:not(:placeholder-shown):not(:focus) {
  border: 2px solid #229d8c;
  padding: 14px 8px;
}

form {
  margin: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

button {
  padding: 14px 22px;
  border: none;
  background-color: #229d8c;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #28B8A5;
}

.button-container {
  grid-column: span 2;
  justify-self: center;
  width: 220px;
}

a:link {
  color: #229d8c;
}

a:visited {
  color: #808080;
}

a:hover {
  color: #ccc;
}

a:active {
  text-decoration: none;
}